In [ ]:
if condition:
    #statements
else:
    #statement

In [ ]:
if condtion1:
    #statement1
elif condition2:
    #statement2
else:
    #statement3

In [ ]:
if outer_condition1:
    #statement1
    if inner_conditionA:
        #statementA
    else:
        #statementB
else:
     if inner_conditionC:
        #statementC

In [ ]:
Q)print Even if the number given is even else print odd

In [2]:
num = int(input())
if num%2 ==0:
    print("Even")
else:
    print("Odd")

6
Even

In [ ]:
short hand if else statement

In [5]:
num = int(input())
print("Even") if num%2 ==0 else print("Odd")

7
Odd

In [ ]:
statement1 if condition else statement2

In [ ]:
# check if the number is positive zero or negative

In [8]:
num = int(input())
if num>0:
    print("positive")
elif num ==0:
    print("zero")
else:
    print("negative")

-1
negative

In [ ]:
short hand if else statement

In [12]:
print("Posiitive") if num>0 elif num<0 print("Negative") else print 
# we cannot run mutiplan statement in a single line

SyntaxError: expected 'else' after 'if' expression (2981383381.py, line 1)

In [15]:
#short hand if else statement

val='Not Thursty'
print("Drink water") if val == 'Thursty' else print("save water")

save water

In [1]:
val = input()
if val == "thirsty":
    print ("drink water")
else:
    print("save water")

thirsty
drink water

In [17]:
val=" " # if we give space we will get output
if val:
    print("hello")

hello

In [ ]:
val="" # without space we will not get output
if val:
    print("hello")

In [ ]:
if condition --> True else:

In [ ]:
and ->Boolean value 
or -> Boolean value
not -> Boolean value

In [22]:
club = ["Talib","Mayank","Sujan","Syali","Ruchika"]
if "Sujan" in club or "Vinay" in club:
     print("Talib is saved!!")
else:
    print("Terror of Ganesh!!")

Talib is saved!!

In [23]:
club = ["Talib","Mayank","Syali","Ruchika"]
if "Sujan" in club or "Vinay" in club: 
    print("Talib is saved!!")
else:
    print("Terror of Ganesh!!")

Terror of Ganesh!!

In [ ]:
Q if value is less than 2 and greater than zero print one else print other number

In [2]:
value = int(input())
if value >0 and value<2:
    print("One")
else:
    print("Other")

4
Other

In [ ]:
Truthy Falsy

In [ ]:
False equivalents:
    0,'',None,0j,False,[],(),{},set()...

In [5]:
val = ''
if val:
    print("Hello")
else:
    print("LOL")

LOL

In [6]:
val = None
if val:
    print("Hello")
else:
    print("LOL")

LOL

In [7]:
val = 0j
if val:
    print("Hello")
else:
    print("LOL")

LOL

In [ ]:
True Equivalents:
    1,-1,1.1,<space>,'name',...

In [8]:
val = 23
if val:
    print("Hello")
else:
    print("LOL")

Hello

`iterable`

In [ ]:
An iterable is any python object capable of returning its members one at a time
collections:
    str,list,tuple,set,dict,range...

In [ ]:
loop is something which helps us to iterate

In [ ]:
# for loop

In [9]:
fruit_basket = ["apple","mango","banana","orange"]

print(fruit_basket[0])     # without for loop, we can run the condition with the help of index, but it's too long process.
print(fruit_basket[1])
print(fruit_basket[2])

apple
mango
banana

In [10]:
fruit_basket = ["apple","mango","banana","orange"]
for i in fruit_basket:
    print(i)

apple
mango
banana
orange

In [11]:
fruit_basket = ["apple","mango","banana","orange"]
for i in fruit_basket:
    if "o" in i:
        print(i)

mango
orange

In [12]:
fruit_basket = ["apple","mango","banana","orange"]
for fruit in fruit_basket:
    print(fruit)

apple
mango
banana
orange

In [1]:
fruit_basket= ['apple','orange',banana,mango]
for i in fruit_basket: # if we are not mentioned any text value inside the string then we will get error
    if "o" in i:
        print(i)

NameError: name 'banana' is not defined

In [18]:
k=["usha","Jerry","Kumari","Tom","luna"]
for i in k:
    if "u"in k: # here we will not get output because we have wrongly mentioned k instaed of i.
        print(i)

usha
Kumari
luna

In [ ]:
break --> it helps us to get out of the loop any time

In [19]:
fruit_basket = ["apple","mango","banana","orange"]
for i in fruit_basket:
    if "o" in i:
        print(i)

mango
orange

In [20]:
fruit_basket = ["apple","mango","banana","orange"]
for i in fruit_basket:
    if "o" in i:
        print(i)
        break   # here we used break condition and it wodn't allow to check another value once the condition got satisfied.

mango

In [ ]:
range() --> gives you sequence of numbers

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
fruit_basket = ["apple","mango","banana","orange"]
for i in range(len(fruit_basket)):   # length operator will find the lenght of the iterables
    if fruit_basket[i] == 'mango':
        print(i,fruit_basket[i])
        break

1 mango

In [23]:
fruit_basket = ["apple","mango","banana","orange"]
count = 0
for i in fruit_basket:
    if "o" in i:    
        count+=1     # we can use count operator also
        print(i)

mango
orange