In [3]:
# format()
s=input()
st="name is " + s + "xjh"

sujan

In [4]:
st

'name is sujanxjh'

In [11]:
s=int(input()) # if i give integer it will show the error.
st="name is " + s + "xjh"

25

TypeError: can only concatenate str (not "int") to str

In [12]:
s=int(input())
st = "My name is {}".format(s)
print(st)

26
My name is 26

In [13]:
party="{},{} and {} are going to party".format("arman","naga","ganesh")
print(party)

arman,naga and ganesh are goimg to party

In [17]:
l=input()
j=input()
k=input()
party="{},{} and {} are going to party".format(l,j,k)
print(party)

sujan
shivu
bhaskar
sujan,shivu and bhaskar are going to party

In [22]:
doubleparty="{std2} and {std} are new joiners to the party".format(std="Vinay",std2="Bharath")
print(doubleparty)

Bharath and Vinay are new joiners to the party

In [23]:
doubleparty="{std2} and {std} are new joiners to the party".format\ # \ used to write code contuniation in new line
(std="Vinay",std2="Bharath")
print(doubleparty)

Bharath and Vinay are new joiners to the party

In [24]:
# f string python 3.6+
a=5
b=10
c=f"{a}+{b} add to 15"
print(c)

5+10 add to 15

In [ ]:
#list
  mutable or changeable
  it's collection of a different data types including list itself.
  it supports indexing

In [ ]:
l=[1,2,5]
# append it adds one time at a time to the list at the end position

In [28]:
l=[1,2,5]
l.append("sujan")
print(l)

[1, 2, 5, 'sujan']

In [29]:
l=[1,2,5]
l.clear()
print(l)

[]

In [31]:
list_2= ["sujan","bhaskar",6,"shivu"]
list_2.remove(6)
print(list_2)

['sujan', 'bhaskar', 'shivu']

In [34]:
list_2= ["sujan","amit","bhaskar",6,"shivu"]
list_2.pop(1) # if we mention the index then pop will tell you the value ot it can through it out.

'amit'

In [3]:
list_2= ["sujan","amit","bhaskar",6,"shivu"]
list_2.pop() # if we did not mention any index number it will pop out the last value.
print(list_2)

['sujan', 'amit', 'bhaskar', 6]

In [4]:
list_2.pop(13) # Here mentioned index is not available.

IndexError: pop index out of range

In [5]:
list_2.pop("arman")

TypeError: 'str' object cannot be interpreted as an integer

In [9]:
n=int(input("Enter the number of items you want to insert: "))
l=[]
for i in range(n):
        l.append(input())
        print(l)

Enter the number of items you want to insert: 2
sujan
['sujan']
india
['sujan', 'india']

In [10]:
fruits=["Banana","Orange","Watermelon"]
fruits.insert(1,"Mango") # here mango has been inserted at 1st index.
print(fruits)

['Banana', 'Mango', 'Orange', 'Watermelon']

In [12]:
tuple1=(1,2,3)
fruits.insert(3,tuple1) # here whole tuple is consider as 3rd index.
print(fruits)

['Banana', 'Mango', 'Orange', (1, 2, 3), 'Watermelon']

In [13]:
l=[1,2,4,7,8]
print(id(l))
l.insert(2,9)
print(l)
print(id(l))

2730447712640
[1, 2, 9, 4, 7, 8]
2730447712640

In [14]:
l=[1,2,4,7,8]
l.clear() # this function will remove all the values.
print(l)

[]

In [15]:
l=[1,2,4,7,8]
del l        # here we got error because delete function delete the entire memory. 
print(l)

NameError: name 'l' is not defined

In [17]:
l=[1,5,-1,44,0,-3,-55,68]
l.sort() # here it's sorted in ascending order.
print(l)

[-55, -3, -1, 0, 1, 5, 44, 68]

In [18]:
l.sort(reverse=True) # here it's sorted in descending order.
print(l)

[68, 44, 5, 1, 0, -1, -3, -55]

In [33]:
fruits=["Banana","Orange","Watermelon","Papaya","Apple"]
print(fruits[1:4])
print(fruits[1:])
print(fruits[::2])
print(fruits[1::2])
print(fruits[1:4:1])
print(fruits[::-1])

['Orange', 'Watermelon', 'Papaya']
['Orange', 'Watermelon', 'Papaya', 'Apple']
['Banana', 'Watermelon', 'Apple']
['Orange', 'Papaya']
['Orange', 'Watermelon', 'Papaya']
['Apple', 'Papaya', 'Watermelon', 'Orange', 'Banana']

# Tuple

In [13]:
t=(1,3,5,8,3,5,8,5)
t.count(5) # it will count the value which is mentioned inside the ()

2

In [14]:
l=["Harsha"]
print(type(l))

<class 'list'>

In [15]:
l=("Harsha")
print(type(l))

<class 'str'>

In [33]:
l=("Harsha",) # if we want to add single element inside the tuple then we should use , 
print(type(l))
k="Krishna", # we can get the tuple with value +, without()
print(k)
print(type(k))

<class 'tuple'>
('Krishna',)
<class 'tuple'>

In [17]:
t=([1,2,3],10,15,20)

In [19]:
print(type(t[0]))

<class 'list'>

In [26]:
t=([1,2,3],10,15,20)
t[0].append("sujan") # list can be modified inside the tuple.
print(t)

([1, 2, 3, 'sujan'], 10, 15, 20)

In [28]:
t=(1,3,5)
print(t[0])
print(t[1])
print(t[2])

1
3
5

In [30]:
a,b,c=(1,3,6)
print(a)
print(b)
print(c)

1
3
6

In [31]:
x,y,z=t
print(x)
print(y)
print(z)

1
3
5

In [34]:
t=("Ganesh","Shekar","Maruti","Gnanesh")
t[-2]     # negative indexing can be done in list,tuple and string.

'Maruti'

In [37]:
s,d,x=input("enter names by comma seperations ").split(",")

enter names by comma seperations sujan,shivu,bhaskar

In [38]:
print(s)

sujan

In [39]:
print(x)

bhaskar

In [40]:
print(d)

shivu