In [1]:
l = [1,5,8,"Adil","Meraj","Arman","Zomato","RRR","Hrsha",8.12,"Bachan Pandey","Kashmir files",83,\
     "Pushpa"]

In [3]:
count=0
for i in l:
    count+=1
print(count)

14

In [4]:
t = (1,5,98,7,9,6)
count_tuple = 0
for i in t:
    count_tuple+=1
print(count_tuple)

6

In [5]:
d = {1:None, False:[1,2,3], "Saikumar":"Yes sir"}
count_dict = 0
for i in d:
    count_dict+=1
print(count_dict)

3

In [6]:
d={1:None,True:[1,2,3],"test":"hello"} # here we got output as 2 because True = 1, so that python consider the latest one.
count_dic =0
for i in d:
    count_dic+=1
print(count_dic)

2

In [7]:
d[True]

[1, 2, 3]

In [8]:
d[1]

[1, 2, 3]

In [9]:
len(l)

14

In [ ]:
# How to make these functions manually

In [10]:
#syntax
def name_of_the_function(parameters):
    ''' what this function is going to do '''
    #statements

In [25]:
def length(iterable): #function Definition
    '''This function finds out the length of the iterable'''
    count = 0
    for i in iterable:
        count+=1
    return count

In [29]:
length(l)  # function calling

14

In [30]:
l=[12,32,34,23,'kavya']

def length(iterable):
    '''length of the list'''
    count=0
    for i in iterable:
        count+=1
    return count
print(length(l))

5

In [31]:
def length(iterable): #function Definition
    '''This function finds out the length of the iterable'''
    count = 0
    for i in iterable:
        count+=1
    print("Hello")
    return count
    print("Hello")

In [32]:
length(l)

Hello

5

In [33]:
length(23)

TypeError: 'int' object is not iterable

In [42]:
def add (num1,num2):
    return num1+num2

In [43]:
add(8,66)

74

In [44]:
add("Mona"," Dukandar")

'Mona Dukandar'

In [3]:
def funt_one():
    print("Ganesh")

In [4]:
funt_one()

Ganesh

In [5]:
def funt_two():
    """Nothing in this function"""

In [6]:
print(funt_two())

None

In [ ]:
None is the default return type of the function

In [8]:
x = len([1,2,3])

In [9]:
print(x)

3

In [10]:
y = funt_one() # it will print the funct_one value

Ganesh

In [11]:
print(y)

None

In [ ]:
Q) WAP to define a function which takes a single int value and checks if it is even or odd

In [64]:
def check_even_odd(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")

In [65]:
check_even_odd(55)

Odd

In [66]:
var("like") #it's not defined

NameError: name 'var' is not defined

In [67]:
var = 25
def test_func():
    print(var)

In [68]:
test_func()

25

In [72]:
var = 25
def test_func():
    var = 32
    print(var)

In [73]:
test_func()

32

In [79]:
val = "Sayali"
def change_name():
    val = "Mona"
    print(val)
print(val)

Sayali

In [80]:
change_name()
print(val)

Mona
Sayali

In [81]:
def func1():
    v = "Mayank"

In [82]:
print(v) # local variable cannot get it outside.

NameError: name 'v' is not defined

In [83]:
func1()  # local variable cannot get it outside.
print(v)

NameError: name 'v' is not defined

In [93]:
val="Sayali"
def change_name():
    global val  # if we mention global variable inside the function global variable also consider local variable
    val="Mona"
    print(val)
change_name()
print(val)

Mona
Mona

In [94]:
val = "Sayali"
def change_name():
    print(val)   # if there is no local variable then python will check the global variable
change_name()
print(val)

Sayali
Sayali

In [98]:
def funct1():
    #defining funct2
    def funct2():
        print("Varun")
    #calling funct2
    funct2()
    print("Sharon")

In [96]:
funct1()

Varun
Sharon

In [97]:
max([1,2,8,6])

8

In [ ]:
#max example in text document

In [106]:
def max(iter):
	max1 = float("-inf")
	for i in iter:
		if max1<i:
			max1=i
	return str(max1) + " Maximum Value"

In [107]:
l=[1,2,3,-5,8]
print(max(l))

8 Maximum Value

In [ ]:
# function_question.py

In [108]:
def return_even_or_odd(num):
	if num%2==0:
		return "even"
	else:
		return "odd"

x  = return_even_or_odd(79)
print(x)

odd

In [ ]:
# length_test.py

In [110]:
def len(param):
	return param
l = [1,5,8,"Priya"]
print(len(l))

[1, 5, 8, 'Priya']

In [ ]:
# return_max_value.py

In [112]:
def max(iter):
	max1 = float("-inf")
	for i in iter:
		if max1<i:
			max1=i
	return str(max1) + " Maximum Value"
print(max([1,2,8,-1,0,9]))

9 Maximum Value

In [ ]:
# string_validator.py

In [113]:
s = "Hi I am in Edyoda"
def check_string(string):
	return "edyoda" in string.lower()
print(check_string(s))

True