In [ ]:
Dictionary:
    Mutable
    Key is immutable and unique
    |Values can be Mutable or Immutable
    |------ Builtin Functions --:>
                                get(),update(),pop(),values(),keys(),items(),clear()
Set:
    Mutable
    values of set are immutable and unique
    Its an unordered collection
    |------ Builtin Functions ----:>
                                add(), discard(), pop(), clear(), update()

`Q1) Store Alphabets as "keys" and their ASCII values as "values" to those keys. Intuition: Use "ord" and "chr" Pseudocode: 1.) Loop from a to z. 
2.) store them as keys and find their ascii to store them as values. 
3mins-->19:51`

In [5]:
d=dict()
for i in range(ord("a"),ord("z")+1):
    d[chr(i)]=i
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

`Q2) Count the number of occurrence of each letter in word "apple". Store count of every letter with the letter in a dictionary. Intuition: Use in operator to check if it already exist. Pseudocode: 
1.)loop over all the chars in "apple". 
2.)if char already exist, increase it's count, else give it count = 1 
output: {"a":1,"p":2,"l":1,"e":1} 10 mins-->20:01`

In [4]:
l=["apple","apple","apple","apple"]
i=0
count=0
while i<len(l):
    if l[i]=="apple":
        count+=1
    i+=1
print(count)

4

In [15]:
d = {}
d["a"] = 1
d["p"] = 1

In [16]:
print(d["p"])

1

In [17]:
d["p"] += 1
d["l"] = 1
d["e"] = 1

In [18]:
print(d)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [5]:
d={}
v=input()
for i in v:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
    
print(d)

sujanacharyaindia
{'s': 1, 'u': 1, 'j': 1, 'a': 5, 'n': 2, 'c': 1, 'h': 1, 'r': 1, 'y': 1, 'i': 2, 'd': 1}

In [6]:

d[i] = v.count(i)

### `Python Set Operations`:

In [ ]:
Union
intersection
difference
symmetric difference
check if subset()
check if superset()

In [11]:
# union
A = {1,2,3,4,5}
B = {4,5,"Venkata","Kuladeep"}
C= A|B
print(C)
#another way
print(A.union(B))

{1, 2, 3, 4, 5, 'Kuladeep', 'Venkata'}
{1, 2, 3, 4, 5, 'Kuladeep', 'Venkata'}

In [12]:
#intersection
D=A&B
print(D)
#another way
print(A.intersection(B))

{4, 5}
{4, 5}

In [14]:
E=B-A
print(E)
#another way
print(B.difference(A))

{'Venkata', 'Kuladeep'}
{'Venkata', 'Kuladeep'}

In [16]:
F=A^B
print(F)
#another way
print(A.symmetric_difference(B))

{1, 2, 3, 'Kuladeep', 'Venkata'}
{1, 2, 3, 'Kuladeep', 'Venkata'}

In [17]:
A = {1,2,3,4,8}
B = {2,8}
C = {3,8,4}

In [19]:
print(B.issubset(A))

True

In [20]:
print(C.issubset(B))

False

In [21]:
print(A.issuperset(B))

True

In [22]:
print(A.issuperset(C))

True

In [ ]:
Q1) From the below data students = {"a","b","c","d","e","f","g","h"} dance = {"a","b","c","d"} music = {"e","f","b","c"}

USE SET to solve: Q) which love both music and dance?

In [23]:
students = {"a","b","c","d","e","f","g","h"}
dance = {"a","b","c","d"}
music = {"e","f","b","c"}

In [25]:
Both_Music_and_Dance=dance&music
print(Both_Music_and_Dance)

{'c', 'b'}

In [ ]:
Q1) From the below data students = {"a","b","c","d","e","f","g","h"} dance = {"a","b","c","d"} music = {"e","f","b","c"}

USE SET to solve: Q) which love both music and dance?

Q2) Find the max appearing char by using sets. s = "arrcaaaaccffffqqqqqqqqqqqqqqqqqqqqq"

Pseudocode: 1.)Make a copy of unique elements from the string. 2.)Iterate over those and count the occurence in the string.