In [ ]:
Iterable:
    collection, 
    on which we can iter
    any python object capable of returning its member one at a time

In [ ]:
ex of iterables:
    list,tuple,str,range,set,dict...

In [ ]:
for loop:
    it is used for sequential traversal.

In [ ]:
1 to 10

In [ ]:
print(1)
print(2)
print(3)
...
print(10)

In [ ]:
# Syntax of for loop
for var in iterable:
    #statement

In [2]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10]
for i in list_of_numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
Q)WAP which prints table of 2.
    [1,2,3,4,5,6,7,8,9,10]

In [9]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(2," X ",i ," = ",2*i)

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20

In [10]:
print("Saikumar has",3,"Lamborg")

Saikumar has 3 Lamborg

In [ ]:
you are given a list of numbers, you have to write odd if the number is odd and even for even.
hint: iterate over each element of the list and use conditional statement to filter even and odd
    [1,2,3,4,5,6,7,8,9,10]

In [1]:
number =  [1,2,3,4,5,6,7,8,12,10]
for i in number:
    if i%2==0:
        print(i,"even")
    else:
        print(i,"Odd")

1 Odd
2 even
3 Odd
4 even
5 Odd
6 even
7 Odd
8 even
12 even
10 even

In [ ]:
range(10) -->0-9
1-9 --> range(1,10)

In [13]:
l = range(1,10)
l[8]

9

In [ ]:
1-9 using range(first,last)

In [15]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
Syntax:
    range(start, stop ,step)

In [16]:
#i step at a time
for i in range(1,10,1):
    print(i)

1
2
3
4
5
6
7
8
9

In [17]:
# 2 steps at a time
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [18]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [ ]:
10 9 8 7 6 5 4 3 2 1

In [20]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [21]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [23]:
range(1.2)

TypeError: 'float' object cannot be interpreted as an integer

In [26]:
val = 13
for i in range(val+1): # value + 1 is used to add one more value
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [27]:
for i in range(1,11):
    print(i*3)

3
6
9
12
15
18
21
24
27
30

In [ ]:
list_of_covid = ["COVID+","COVID+","COVID+","COVID-","COVID-","COVID+","COVID-"]

In [ ]:
Builtin Function len()

In [ ]:
len(iterable)

In [28]:
list_of_covid = ["COVID+","COVID+","COVID+","COVID-","COVID-","COVID+","COVID-"]
print(len(list_of_covid))

7

In [29]:
st = "Seela"
print(len(st),type(len(st)))

5 <class 'int'>

In [ ]:
int,float,complex --> not iterbles

In [32]:
len(23) # integer is not a iterable data type

TypeError: object of type 'int' has no len()

In [33]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [34]:
bool(None)

False

In [35]:
bool()

False

In [40]:
bool('')

False

In [41]:
bool(' ') # if we give space then it would consider as truthhy value

True

In [37]:
bool(set())

False

In [38]:
bool({})

False

In [42]:
bool(12)

True

In [43]:
bool(-1)

True

In [44]:
bool(1.23568)

True

In [ ]:
# syntax:
for i in iterable1:
    #statement outer
    for j in iterable2:
        #statement inner

In [50]:
#Assumption each month is having 30 days
list_of_month = ["Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec"]
for Month in list_of_month:
    print(Month,end=" ")
    for Days in range(1,32):
        print(Days,end=" ")
    print()

Jan 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Feb 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Mar 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Apr 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
May 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
June 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
July 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Aug 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Sep 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Oct 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Nov 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31
Dec 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

In [64]:
for i in list_of_month:
    print(i,end=" :")
    if(i=="Feb"):
         for j in range(1,29):
            print(j,end=" ")         
    else:
        for j in range(1,31):
            print(j,end=" ")
    print()

Jan :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Feb :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
Mar :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Apr :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
May :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
June :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
July :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Aug :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Sep :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Oct :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Nov :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
Dec :1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [65]:
months = ["jan","feb","march","april","may","june"]
for i in months:
    print(i)
    for day in range(1,31):
        print(day,end= " ")
    print()

jan
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
feb
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
march
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
april
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
may
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
june
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [66]:
bool('0')

True