In [13]:
# -oo to +oo
l = float("inf")

In [14]:
99>l

False

In [3]:
99<l

True

In [5]:
g = float("-inf")

In [6]:
99>g

True

In [7]:
99<g

False

In [8]:
import math
po_inf = math.inf

In [9]:
-1 > po_inf

False

In [11]:
ne_inf = -math.inf

In [12]:
-1 > ne_inf

True

In [15]:
dict1 = {"Student_name":"Arman", "Age":22, 24: 12, "30": "15", (1,): False, True: 2+3j, 854 : [8,5,4]}

In [16]:
print(dict1["Student_name"])
print(dict1["Age"])
print(dict1[24])
print(dict1["30"])
print(dict1[(1,)])
print(dict1[True])
print(dict1[854])

Arman
22
12
15
False
(2+3j)
[8, 5, 4]

In [17]:
dict1["Talib"] # we got error because talib is not mentioned in dictionary key.

KeyError: 'Talib'

In [18]:
print(dict1.get("Talib")) # if we use .get and ,if a key element is not in the dictionary then we wo'nt get error.
                          # the output would be the none.

None

In [19]:
print(dict1.get("Age"))

22

### Add an element to a dictionary

In [20]:
d = {"address": "Bangluru"}

In [21]:
d["country"] = "India" # assigning key and values to the dictionary.

In [22]:
d

{'address': 'Bangluru', 'country': 'India'}

In [23]:
t = (23,"Meraj")
d[t] = "some value"  # this way also we can assign key and values to the dictionary.

In [24]:
d

{'address': 'Bangluru', 'country': 'India', (23, 'Meraj'): 'some value'}

### `Update value in dictionary`

In [26]:
d2 = {'address': 'Bangluru', 'country': 'India', (23, 'Meraj'): 'some value'}
d2[(23,"Meraj")] = "Some Value ++"

In [27]:
print(d2)

{'address': 'Bangluru', 'country': 'India', (23, 'Meraj'): 'Some Value ++'}

In [29]:
d2.pop() # pop expected at least 1 argument

TypeError: pop expected at least 1 argument, got 0

In [30]:
d2.pop('address') # it will remove the "address" key and it's value.

'Bangluru'

In [31]:
print(d2)

{'country': 'India', (23, 'Meraj'): 'Some Value ++'}

In [32]:
d2.clear() # it will clear a entire dictionary.

In [33]:
print(d2)

{}

In [34]:
d3 = {"Mango":"green","apple":"Red","Banana":"Yellow","Banana":"Green","Litchi":"Red"}

In [35]:
print(d3) # in this example Banana keys has been mentioned twice so that it will consider the latest value.

{'Mango': 'green', 'apple': 'Red', 'Banana': 'Green', 'Litchi': 'Red'}

In [36]:
d4 = {1:1, 2:2, 3:3}
d4[1]

1

In [37]:
d3.keys()

dict_keys(['Mango', 'apple', 'Banana', 'Litchi'])

In [38]:
type(d3.keys())

dict_keys

In [40]:
for i in d3.keys():
    print(i,d3[i])

Mango green
apple Red
Banana Green
Litchi Red

In [41]:
d3.values()

dict_values(['green', 'Red', 'Green', 'Red'])

In [42]:
for i in d3.values():
    print(i)

green
Red
Green
Red

In [43]:
d5 = {1:1, 2:1, 3:1}

In [44]:
d5[1]

1

In [45]:
d5[2]

1

In [46]:
d5[3]

1

In [47]:
d = dict(Kuladeep="Pathak",Sharon="Seeli") # this is another way to assign value to the dictionary.
                                           # here we didn't mention string to key but it will consider as a string.

In [48]:
print(d)

{'Kuladeep': 'Pathak', 'Sharon': 'Seeli'}

In [49]:
d.items()

dict_items([('Kuladeep', 'Pathak'), ('Sharon', 'Seeli')])

In [50]:
for i in d.items():
    print(i)

('Kuladeep', 'Pathak')
('Sharon', 'Seeli')

In [51]:
d2 = dict((1,2,3)="Meghna")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (837332735.py, line 1)

In [52]:
d3 = dict(one=1,two=2,three=3)

In [53]:
print(d3)

{'one': 1, 'two': 2, 'three': 3}

In [54]:
#Q) {1:1, 2:4, 3:9, 4:16, 5:25}

In [55]:
d = {}
for i in range(1,6):
    d[i] = i*i

In [56]:
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [57]:
ord("A")

65

In [58]:
chr(79)

'O'

In [ ]:
Q) {"A":65,"B":66,"C":67...}

In [68]:
d ={}
for i in range(ord("A"),ord("z")+1):
    d[chr(i)]=i
print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90, '[': 91, '\\': 92, ']': 93, '^': 94, '_': 95, '`': 96, 'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

### `Set`

In [ ]:

A set is an unordered collection of items. Every Set element is unique(no duplicates) and must be IMMUTABLE(unchangeble). 
Our Set itself is MUTABLE

In [ ]:
Set itself is mutable but set values are immutable.

In [69]:
s = {1,2.3}

In [70]:
print(type(s))

<class 'set'>

In [71]:
s = {} # python will consider as dictionary
print(type(s))

<class 'dict'>

In [72]:
s = set()  # to create a empty set
print(type(s))

<class 'set'>

In [73]:
s.add("Saikumar")

In [74]:
s.add("TALIB")

In [75]:
s.add(123)

In [76]:
t = (1,2)
s.add(t)

In [77]:
l = [1,2,3] # list is a mutable data type .it cannot be assigned as a key.
s.add(l)

TypeError: unhashable type: 'list'

In [78]:
for i in range(3):
    s.add(input())

sujna
shivu
bhaskar

In [79]:
print(s) # output won't be in a order so that set is an unordered data type.

{(1, 2), 'shivu', 'TALIB', 'bhaskar', 123, 'sujna', 'Saikumar'}

In [80]:
# another way to assign values to the set.
s.update(["Sayali","Pratiksha","Priya"])

In [81]:
print(s)

{(1, 2), 'Sayali', 'Priya', 'shivu', 'TALIB', 'bhaskar', 'Pratiksha', 123, 'sujna', 'Saikumar'}

In [83]:
s.discard(123) # it will remove the value in the set.

In [84]:
print(s)

{(1, 2), 'Sayali', 'Priya', 'shivu', 'TALIB', 'bhaskar', 'Pratiksha', 'sujna', 'Saikumar'}

In [85]:
print(s.discard("Armaan")) # the given value is not inside the set it won't show any error output will be none.

None

In [86]:
s.remove((1,2)) # it will remove the value in the set.

In [87]:
print(s)

{'Sayali', 'Priya', 'shivu', 'TALIB', 'bhaskar', 'Pratiksha', 'sujna', 'Saikumar'}

In [88]:
s.remove("Kunal")  # the given value is not inside the set it will show the error.

KeyError: 'Kunal'

In [89]:
s.clear() # it will clear entire value inside the set.

In [90]:
print(s)

set()

In [91]:
del s # it will delete the value or set etc.

In [92]:
print(s)

NameError: name 's' is not defined

In [ ]:
H/W:
    pop() and other builtin methods