## Indexing In MySQL

/* My SQL Indexes
CREATE INDEX Statementin SQL is used to create indexes in tables. 
The indexes are used to retrieve data from the database more quickly than others. 
The use can not see the indexes, and they are just used to speedup queries /searches. 
Note: Updating the table with indexes takes alot of time than updating a table without indexes. 
It is because the indexes also need an update. 
So, only create indexes on those columns that will be frequently searched against. 
*/

In [ ]:
create table student (id int NOT NULL, 
first_name varchar(25) , last_name varchar(25) ,
age int
);

# creating indexes
create index index_age
on student(age);

# creating indexs for two columns
create index index_age_first_name
on student(age, first_name);
desc student;

# To drop index
alter table student
drop index index_age_first_name;

# To drop index
alter table student
drop index index_age

## Interview Preparation MySql Views

In [ ]:
Views
     It is a visual table based on the results set of an SQL query

In [ ]:
create table student (
student_id int NOT NULL, 
first_name varchar(25) NOT NULL, 
last_name varchar(25) NOT NULL,
age int,
primary key(student_id)
);

select * from student;

insert into student values (1, 'Sujan', 'Achari',25),
 (2, 'Sadhana', 'A',26),
(3, 'Sanjay', 'Naik',28);


create table department(
student_id int auto_increment,
department_name varchar(25) NOT NULL,
foreign key(student_id) references student(student_id)
);

desc department;

insert into department values(1,'Computer Science'),
(2, 'Electronics'),
(3, 'Mechanical');

select * from department;
select * from student;

# creating view
create view student_info as
select first_name, last_name, age from student inner join department
using (student_id);

select * from student_info;

# To drop view
drop view student_info;

## Discussing All Types Of Joins

#### SQL Joins

/*
1. Inner Join
2. Left Join
3. Right Join
4. Full Join
5. Natural Join
6. Cross Join
*/

In [ ]:


## Inner Join
select * from student inner join department
on student.student_id=department.student_id;

# when we mentioned pafunctionrticular columns in join 
select student.first_name, student.last_name, student.age, department.department_name 
from student inner join department
on student.student_id=department.student_id;

## Left Join
select student.first_name, student.last_name, student.age, department.department_name 
from student left join department 
on student.student_id=department.student_id;

## Right Join
select student.first_name, student.last_name, student.age, department.department_name 
from student right join department 
on student.student_id=department.student_id;

## Full Outer Join
select student.first_name, student.last_name, student.age, department.department_name 
from student left join department 
on student.student_id=department.student_id

union

select student.first_name, student.last_name, student.age, department.department_name 
from student right join department 
on student.student_id=department.student_id;

## Cross Join
# it will do all the possible point
select student.first_name, student.last_name, student.age, department.department_name 
from student cross join department;

## Natural Join
select student.first_name, student.last_name, student.age, department.department_name 
from student natural join department;

 ## MYSQL Stored Procedures

In [ ]:
use customer;

select * from student;

call get_student_info;

CREATE DEFINER=`root`@`localhost` PROCEDURE `get_student_info`()
BEGIN
# whatever we mention here it will get executed
select * from student;
END


# When we need a particular information
CREATE DEFINER=`root`@`localhost` PROCEDURE `get_student_info`()
BEGIN
# whatever we mention here it will get executed
select * from student where student.age=25;
END


# Here we can particularly give input
CREATE DEFINER=`root`@`localhost` PROCEDURE `get_student_info`(in age int)
BEGIN
select * from student where student.age=age;
END

call get_student_info(25);


## Out
CREATE DEFINER=`root`@`localhost` PROCEDURE `get_student_info`(out records int)
BEGIN
select count(*) records from student where student.age=25;
END

call get_student_info(@record);
select @record as Totalrecords;

## In and Out
CREATE DEFINER=`root`@`localhost` PROCEDURE `get_student_info`(inout records int,in age int)
BEGIN
select count(*) records from student where student.age=age;
END

call get_student_info(@record, 25);
select @record as Totalrecords;