In [ ]:
use company;

select * from employee;
select * from bonus;
select * from designation;

## Easy Queries 
# 1. Write an sql query to retrieve all details where first name from employee
# table which starts with 'd'

select * from Employee where First_Name like 'd%';

# 2. Write an sql query  to print all details of the employee whose salary
# between 10000 to 3500
## fetch Employee name

select * from employee where salary between 10000 and 35000;

# concat first and last name get salary details
select concat(First_Name, ' ' , Last_Name ) as Employee_Name, 
Salary from Employee where Emp_Id in
(select Emp_Id from Employee where Salary between 10000 and 55000);

# 3. SQL Query to retrieve details of the employees who have joined on a date
# Dec 2014
select * from Employee where year(Joining_Date)=2014 and month(Joining_Date)=12;

# 4. SQL Query to fetch number of employees in every department
select count(*) from Employee group by Department_Name;

select * from Employee where Department_Name="Development";


## Intermediate
#5. SQL Query to print details of the employee who are also Executives
select Employee.First_Name, Designation.Designation from 
Employee
inner join
Designation
on Employee.Emp_Id = Designation.Emp_Ref_Id
and Designation.Designation ='Executive';

# 6. SQL query to clone a new table from another table
create table Clone_Employee like Employee;
select * from Clone_Employee;
desc Clone_Employee;

# 7. SQL query to show top n salary of employees
select * from Employee order by Salary desc limit 4;

## Increasing Complexity
# 8. SQL query to determine the 4th highest salary
select Salary from Employee order by Salary desc limit 3,1;

## Assignment for you
## SQL query to determine the 4th highest salary without using limit